  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  
  img {
    box-shadow: 10px 10px 5px black;
  }
  
  section {
    background-color: #000;
  }
  
  p {
    font-size: 15px;
    color: gray;
  }
  
  ul {
    border-style: solid;
    color: gray;
  }
  